.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    justify-content: space-between;

    .hamburger {
        z-index: 10;



    }
}



.slider {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;



    .owl-carousel {




        .item {
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            display: block;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                height: 100vh;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                display: none;
                z-index: 2;
            }




            a {
                display: block;
                padding: 0 60px;
                text-align: left;
                position: absolute;
                bottom: 130px;
                z-index: 5;
                width: 100%;
                overflow: visible;


                h6 {
                    font-size: 25px;
                    font-family: $headerFontFamilyMontserrat;
                    color: $headerTextColor;
                    font-weight: 300;
                    margin: 0 0 20px;
                }

                .text {
                    height: 0;


                    margin-bottom: 80px;

                    p {
                        font-size: 14px;
                        font-family: $mainFontFamilyRoboto;
                        color: $headerTextColor;
                        font-weight: 400;
                        line-height: 24px;
                        display: none;
                    }
                }



                .separator-line {
                    width: 20%;
                    height: 1px;
                    background-color: $mainTextcolor;
                    margin-top: 35px;
                    opacity: 1.3;


                }





            }



            &:hover {

                transition: .9s;

                a {

                    z-index: 6;
                    transition: .9s;

                    .text {
                        height: 80px;
                        transition: .9s;

                        p {
                            display: block;
                            transition: .9s;


                        }
                    }




                    .separator-line {
                        width: 85%;
                        transition: 0.3s;
                        margin-top: 35px;
                    }
                }

            }




            &.first {
                background-image: url("../img/homepage-2-slider-img-1.jpg");
                position: relative;



            }

            &.second {
                background-image: url("../img/homepage-2-slider-img-2.jpg");
            }

            &.third {
                background-image: url("../img/homepage-2-slider-img-3.jpg");
            }

            &.fourth {
                background-image: url("../img/homepage-2-slider-img-4.jpg");
            }

            &.fifth {
                background-image: url("../img/homepage-2-slider-img-5.jpg");
            }

            &.sixth {
                background-image: url("../img/homepage-2-slider-img-6.jpg");
            }

            &.seventh {
                background-image: url("../img/homepage-2-slider-img-7.jpg");
            }

            &.eighth {
                background-image: url("../img/homepage-2-slider-img-8.jpg");
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;

        }
    }
}